#box1{
    width:200px;
    height:100px;
    background-color:lightcoral;
}
#box2{
    width:150px;
    height:250px;
    background-color:lightblue;

}
#box3{
    width:125px;
    height:200px;
    background-color:lightgreen;

}